<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

    </div>
    <div class="col-md-12">
      <center><h3><B>Total Triggers by Day:</B></h3></center>
      <%= line_chart Note.unscoped.group_by_day(:created_at).count %>
    </div>
    <div class="col-md-6">
      <center><B>Total Triggers by User:</B></center>
      <%= pie_chart(User.all_notes_count) %>
    </div>
    <div class="col-md-6">
      <center><B>Total Triggers by Appliance:</B></center>
      <%= pie_chart(RemoteControl.all_notes_count) %>
    </div>
  </div>
</div>
