<h2>Welcome to the Remote Controls Interface</h2>
<p><span style="color: #ff0000">You don't currently have remote control access</span>, contact your administrator to obtain access.</p>
<br>
<br>
<br>
<br>
<br>
<br>