<% provide(:title, 'Welcome') %>
<% if @remote_controls %>
  <div id="container" style="text-align: center;">
    <span class="btn-group-vertical btn-group-lg">
      <% @remote_controls.each do |remote_control| %>
        <% if remote_control.name == "Gate" %>
          <%= link_to remote_control.name, remote_control_open_path(remote_control), method: "get", class: "btn btn-success" %>
        <% else %>
          <%= link_to remote_control.name, remote_control_open_path(remote_control), method: "get", data: { confirm: "Are you sure you want to open the #{remote_control.name}?" }, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </span>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag("http://celsian.zapto.org:3001", alt: "Refresh to restart stream.", style: "max-width:100%;") %>
        <br>
        <small>Stream will automatically disconnect after 60 seconds to prevent data overages.</small>
      </div>
    </div>
  </div>
<% end %>