<%# provide(:title, 'Welcome') %>
<% if @remote_controls %>
  <div id="container" style="text-align: center;">
    <span class="btn-group-vertical btn-group-lg">
      <% @remote_controls.each do |remote_control| %>
        <% if remote_control.name == "Gate" %>
            <%# Prevents the gate from prompting before opening %>
            <%= link_to remote_control.name, remote_control.enabled ? remote_control_open_path(remote_control) : "", class: remote_control.enabled ? "btn btn-success" : "btn btn-default disabled", remote: true %>
        <% else %>
          <%= link_to remote_control.name, remote_control.enabled ? remote_control_open_path(remote_control) : "", data: { confirm: "Are you sure you want to open the #{remote_control.name}?" }, class: remote_control.enabled ? "btn btn-success" : "btn btn-default disabled", remote: true %>
        <% end %>
      <% end %>
    </span>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <object data='<%= "https://#{Rails.application.secrets.cam_address}/clean.php" %>' width="100%" height="468">
          <embed src='<%= "https://#{Rails.application.secrets.cam_address}/clean.php" %>' width="100%" height="468"> </embed>
        </object>
      </div>
    </div>
  </div>
<% end %>