<% provide(:title, 'Welcome') %>
<% if @remote_controls %>
  <% @remote_controls.each do |remote_control| %>
    <div class="form-inline">
      <h2>
        <%= remote_control.name %>:
        <span class="btn-group">
          <%= button_to "Open", remote_control_open_path(remote_control), method: "get", class: "btn btn-primary" %>
        </span>
      </h2>
    </div>
  <% end %>
<% end %>