<% flash.each do |type, message| %>
  $("#flash_messages").html("<div class='alert <%= bootstrap_class_for(type) %> alert-dismissible' role='alert'><button class='close' data-dismiss='alert'>×</button><%= escape_javascript(message).html_safe %></div>");
<% end %>