<!DOCTYPE html>
<html>
<head>
  <title>Testing</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= yield %>

</body>
</html>